Repository MachineHunter/pwndbg-perceptor, pull requests merged in 2021-10, with the labels that each got.

#7 GUI班のコードと情報収集班のコードをつなげる
  pwndbg/__init__.py
  pwndbg/commands/context.py
  pwndbg/memviewGUI/command_tower.py
  pwndbg/memviewGUI/initGUI.py
  pwndbg/memviewGUI/memGUI.py
Labels: WIP

#16 スタックをスタックフレームレベルで表示する
  pwndbg/commands/context.py
  pwndbg/memview/memory.py
  pwndbg/memviewGUI/command_tower.py
  pwndbg/memviewGUI/memGUI.py
  pwndbg/memviewGUI/memory.kv
Labels: 情報収集班, GUI班

#19 スタックフレームのアドレスが間違ってるので修正
  pwndbg/commands/context.py
  pwndbg/memview/memory.py
Labels: 情報収集班

#21 スタックの使用領域と未使用領域を分ける
  pwndbg/commands/context.py
  pwndbg/memview/memory.py
Labels: 情報収集班

#27 マークしたアドレスのGUIでの表示2
  pwndbg/commands/mark.py
  pwndbg/memview/memory.py
  pwndbg/memviewGUI/command_tower.py
  pwndbg/memviewGUI/memGUI.py
  pwndbg/memviewGUI/memory.kv
Labels: GUI班

#30 フリーズ機能の実装
  pwndbg/memviewGUI/memGUI.py
  pwndbg/memviewGUI/memory.kv
Labels: GUI班

#33 スナップショット及びフリーズ機能の修正
  pwndbg/memviewGUI/command_tower.py
  pwndbg/memviewGUI/memGUI.py
  pwndbg/memviewGUI/memory.kv
Labels: GUI班
